DATABASE_URL=sqlite:////app/data/podcast.db
AUTH_SECRET=please-change-me
AUTH_SESSION_TTL_HOURS=48
AUTH_COOKIE_SECURE=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminadmin
AUTH_ALLOW_REGISTER=true
AUTH_REGISTER_REQUIRE_ADMIN_APPROVAL=false
